<footer class="site-footer">
  <div class="footer-border"></div>

  <div class="footer-content">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <h2>Navigation</h2>
        <ul class="contact-list">
          <li><a href="{{ "/about/" | relURL }}">About me</a></li>
          <li><a href="{{ "/challenges/" | relURL }}">Challenges</a></li>
          <li><a href="{{ "/talks/" | relURL }}">Talks</a></li>
          <li><a href="{{ "/services/" | relURL }}">Services</a></li>
          <li>
            <a href="{{ "/index.xml" | relURL }}" title="RSS">
              <i class="fas fa-rss icon"></i> Feed
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <h2>Elsewhere</h2>
        <ul class="social-media-list">
          {{ with .Site.Params.github_username }}
          <li>
            <a href="https://github.com/{{ . }}">
              <i class="fab fa-github icon"></i>
              <span class="username">{{ . }}</span>
            </a>
          </li>
          {{ end }}

          {{ with .Site.Params.twitter_username }}
          <li>
            <a href="https://twitter.com/{{ . }}">
              <i class="fab fa-twitter icon"></i>
              <span class="username">{{ . }}</span>
            </a>
          </li>
          {{ end }}

          {{ with .Site.Params.youtube_username }}
          <li>
            <a href="https://youtube.com/{{ . }}">
              <i class="fab fa-youtube icon"></i>
              <span class="username">{{ . }}</span>
            </a>
          </li>
          {{ end }}

        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <h2>Contact</h2>
        <ul class="social-media-list">
          <li><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></li>
        </ul>
      </div>
    </div>

  </div>
  </div>

</footer>
</div>
