<footer class="site-footer">
  <div class="footer-border"></div>

  <div class="footer-content">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <h2>Navigation</h2>
        <ul class="contact-list">
          <li><a href="/about">About me</a></li>
          <li><a href="/talks">Talks</a></li>
          <li>
            <a href="/feed.xml" title="RSS">
              <i class="fa fa-rss icon"></i> Feed
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <h2>Elsewhere</h2>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github icon"></i>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter icon"></i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <h2>Contact</h2>
        <ul class="social-media-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
    </div>

  </div>
  </div>

</footer>
</div>